/* estilos.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor de la tarjeta */
.container {
    width: 300px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

/* Foto de perfil */
.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    display: block;
}

/* Nombre */
.name {
    font-size: 24px;
    color: #333333;
    margin: 10px 0;
}

/* Título con efecto de sombra y gradientes en títulos */
.title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    background: linear-gradient(to right, #000000, #666666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(72, 255, 0, 0.3);
}

/* Efecto hover */
.button-hover, .link-hover {
    display: inline-block;
    background-color: #2b9700; /* Color inicial */
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

/* Cambio de color al pasar el mouse */
.button-hover:hover, .link-hover:hover {
    background-color: #0019ff; /* Nuevo color al hacer hover */
}

/* Descripción */
.description {
    font-size: 14px;
    color: #444444;
    text-align: justify;
    margin-bottom: 15px;
}

/* Redes sociales */
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links li a {
    text-decoration: none;
    color: #0077b5; /* Color por defecto para LinkedIn */
}

.social-links li a:hover {
    color: #005582; /* Color al pasar el mouse para LinkedIn */
}

/* Colores específicos para cada red social */
.social-links li a[href*="twitter.com"] {
    color: #1DA1F2; /* Color para Twitter */
}

.social-links li a[href*="twitter.com"]:hover {
    color: #1991db; /* Color al pasar el mouse para Twitter */
}

.social-links li a[href*="github.com"] {
    color: #333333; /* Color para GitHub */
}

.social-links li a[href*="github.com"]:hover {
    color: #000000; /* Color al pasar el mouse para GitHub */
}